@font-face {
  font-family: 'bauer';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/bauer.otf) format('otf');
}

@font-face {
  font-family: 'sharp';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sharp.otf) format('otf');
}
