section.wraper
  position: relative
  width: 100%
  height: 100vh
  background: url(../img/SB_background_04.jpg)
  background-position: center
  background-size: cover
  .center-content
    position: relative !important
    top: 500px
    background: pink
    .logo
      width: 450px
      

    .text-logo
      font-size: 3.5em
      img
        width: 50px
      span
        margin-bottom: 50px
      .lef
        padding-right: 20px
      .righ
        padding-left: 20px
  .counter
    position: absolute
    top: 50px
    right: 30px
    font-size: 4em
